* {
    margin: 0%;
    padding: 0%;
}
#sobrenome {
    color: aqua;
}
header {
    display: flex;
    background-color: burlywood;
    padding: 15px 30px;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}
a {
    text-decoration: none;
    color: black;
}
main {
    height: 80vh;
}
.banner {
    display: flex;
    background-color: rgb(255, 0, 0);
height: 20vh;
gap: 20px;
padding: 15px 30px;
}
